<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="admin" connectionString="Server=127.0.0.1;Port=3306;Database=admin;User ID=acore;Password=acore;" />
    <add name="auth" connectionString="Server=127.0.0.1;Port=3306;Database=acore_auth;User ID=acore;Password=acore;" />
    <add name="characters" connectionString="Server=127.0.0.1;Port=3306;Database=acore_characters;User ID=acore;Password=acore;" />
    <add name="world" connectionString="Server=127.0.0.1;Port=3306;Database=acore_world;User ID=acore;Password=acore;" />
  </connectionStrings>
</configuration>